main {
    background-color: #ede0e0;
}

mat-toolbar {
    position: fixed;
    top: 0;
    background-color: #dba4a4;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 500;
    box-shadow: 0 0px 2px black;
}

mat-toolbar span {
    background-color: #fddada;
    padding: 2px 10px;
    border-radius: 5px;
}
